@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

        @font-face {
            font-family: 'idroid';
            src: url(fontes/idroid.otf) format('opentype');
            font-weight: normal;
            font-style: normal;
        }

        :root {
            --cor0: #84E1AD;
            --cor1: #3CDB84;
            --cor2: #22733F;
            --cor3: #53dd918a;
        
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: var(--cor0);
            text-align: center;
        }

        header {
            background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
            color: white;
            box-shadow: rgba(3, 3, 3, 0.993);
            border: 10px;
            padding: 10px;
            margin: auto;
        }

        nav {
            text-align: left;
            margin: 0%;
        }

        nav > a {
            color: white;
            text-decoration: none;
            padding: 10px;
        }

        nav > a:hover {
            background-color: #3CDB84;
            border-radius: 10px;
        }

        h1 {
            font: normal 40px 'Anton';
            text-align: center;
        }

        main {
            background-color: white;
            border-radius: 5px;
            margin: 0%;
            min-width: 300;
            max-width: 1000px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
            margin: auto;
        }

        main img.pequena {
            max-width: 350px;
            margin: auto;
        }

        main strong {
            background-color: #3CDB84;
            font-weight: bold;
        }

        main a {
            text-decoration: none;
            font-weight: bold;
            color: #22733F;
            padding: 2px 6px;
        }

        a.externo::after {
            content: '\1F517'
        }

        article {
            padding: 4px;
            margin: 0%;
        }

        img {
            width: 100%;
        }

        header > p {
            text-align: justify;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            margin: 2%;
            text-align: left;
            text-indent: 30px;
        }

        article > h1 {
            font-family: 'idroid';
            color: darkgreen;
            text-align: left;
        }

        h2 {
            background-image: linear-gradient(to right, rgba(10, 151, 10, 0.404), white);
            height: 0px;
            color: darkgreen;
            font-family: 'idroid';
            text-align: left;
            height: 27px;
            padding: 1px;
            margin: 9px;
        }

        h3 {
            background-color: rgb(13, 182, 89);
            color: white;
            text-align: left;
            border-radius: 15px 15px 0px 0px;
            padding: 10px;
        }

        aside {
            background-color: rgb(1, 54, 1);
            padding: 30px;
            padding-bottom: 59%;
            position: relative;
        }

        aside > iframe {
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }

        ul {
            text-align: left;
            list-style-type: '\2714';
            columns: 2;
        }

        section {
            background-color: var(--cor3);
            border-radius: 15px;
            margin: 2%;
        }

        footer > p {
            background-image: linear-gradient(to bottom, #3CDB84, #22733F);
            color: white;
            text-align: center;
            padding: 5px;
            margin: auto;
        }

        footer > p > a {
            color: white;
            text-decoration: none;
        }

        footer > p > a:hover {
            background-color: #3CDB84;
            border-radius: 10px;
        }